.carousel-item{
    height: 500px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}
.sjumbob{
    background-image: url("/public/doctor5.jpg");
    height:600px ;
  
}
.sjumbob1{
    background-image: url("/public/jumbo3.jpg");
    height:600px ;
   background-repeat: no-repeat;
  
}
.sjumbob2{
    background-image: url("/public/jumbo11.jpg");
    height:600px ;
  
}

.sjumbobtn{
    margin-top: 10em;
}

.sheadmar{
    margin-top:6em;
    font-weight: 500;
    color:#060c12
}
/* button css */

/* From cssbuttons.io by @alexmaracinaru */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #a4c0ca;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #6c6c6c;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }
