.Admin{
   margin-top: 15%;

}
.aphoto{
    padding: 30px;
}

.abutton{
    height: 300px;
    width: 300px;
}

.abcolor{
    background-color: aliceblue;
}

.asf{
    height: 10px;
}
.adminbody{
    height:200vh;
}